<h1>Accountant Crystal Ball</h1>

<div><img src="https://i.pinimg.com/564x/79/1d/20/791d209d2ac07bd10fa91b053f925117.jpg"
</div>
<table>
  <tr>
    <td>


<form action="/accountant/results">
  <div>
    <label for="education_input">
      Total Years Education
    </label>

    <input id="education_input" text="text" name="user_education" placeholder="E.g. 13">
  </div>

  <div>
    <label for="age_input">
      Age in years
    </label>

    <input id="age_input" text="number" name="user_age" placeholder="How old are you?">
  </div>

  <div>
    <label for="experience_input">
      Years of work experience
    </label>

    <input id="experience_input" text="number" name="user_experience" placeholder="How many years professional exp?">
  </div>

  <div>
    <label for="sat_input">
      SAT Math Score
    </label>

    <input id="sat_input" text="text" name="user_sat" placeholder="SAT Math Score">
  </div>

    <div>
    <label for="lucky_input">
      Lucky number 
    </label>

    <input id="lucky_input" text="number" name="user_lucky" placeholder="Lucky number between 0 and 9?">
  </div>

    </td>
    </tr>
</table>

  <button>
    Spin the crystal ball
  </button>

