<h1>Software Developer Crystal Ball</h1>

<div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSp6lkHITvnwkvl78qJ4uZQTaWUli-NOQPzTA&usqp=CAU"
</div>
<table>
  <tr>
    <td>


<form action="/developer/results">
  <div>
    <label for="problem_input">
      Problem Solving Affinity
    </label>

    <input id="problem_input" text="number" name="user_problem" placeholder="Enjoyment on 10-Scale">
  </div>
  
  <div>
    <label for="education_input">
      Total Years Education
    </label>

    <input id="education_input" text="text" name="user_education" placeholder="E.g. 13">
  </div>

  <div>
    <label for="age_input">
      Age in years
    </label>

    <input id="age_input" text="number" name="user_age" placeholder="How old are you?">
  </div>

  <div>
    <label for="experience_input">
      Years of work experience
    </label>

    <input id="experience_input" text="number" name="user_experience" placeholder="Years professional exp?">
  </div>

  <div>
    <label for="sat_input">
      SAT Math Score
    </label>

    <input id="sat_input" text="text" name="user_sat" placeholder="SAT Math Score">
  </div>

    <div>
    <label for="lucky_input">
      Lucky number 
    </label>

    <input id="lucky_input" text="number" name="user_lucky" placeholder="Between 0 and 9?">
  </div>

    </td>
    </tr>
</table>

  <button>
    Spin the crystal ball
  </button>

