<h1>Career Crystal Ball</h1>

<img src="https://i1.wp.com/careerlantern.com/wp-content/uploads/2019/02/Crystal-Ball-Career.jpg?resize=217%2C150&ssl=1" alt="">

<div>
Welcome to Career Crystal Ball! As education systems are expanding and diversifying, the creation of new jobs and opportunities are changing the way individuals make career choice, however what hasnt changed is equal decision making power of underprivileged communities. With such changes in place career planning has become more complex and confusing. Where formal sources of career guidance are not easily accessible, individuals tend to rely on their friends and family, leading to choices where they end up in careers they do not see a successful future in- the herd mentality. This sometimes creates a cycle of poor decision making and inevitably poverty. So what can we do to ensure we make the right career decision?

<div>  
</div>

</div>
Career Crystal Ball helps people early on make the right career choices using a combination of 3 key things:
<div>

</div>
- Data Science
<div>
</div>
- Numerology
<div>
</div>
- Pyschology
<div>

</div>

  <div>
    <button>
    <a href="/accountant/new">
     See into your Accounting Career Odds
    </button>
  </div>

    <div>
    <button>
    <a href="/consultant/new">
     See into your Management Consultant Career Odds
    </button>
  </div>

    <div>
    <button>
    <a href="/developer/new">
     See into your Software Developer Career Odds
    </button>
  </div>